@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #f73a3a, #d46577, #ff7eb3, #fffdfd);
    background-size: 400% 400%;
    animation: gradientBG 6s infinite alternate;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background: linear-gradient(-45deg, #e0dddd, #d46577, #ff7eb3, #ff0000);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #f0ff17;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #ff4b5c;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ff0033;
}

.signup {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.signup a {
    color: #000000;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}